body,h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
}
#header {
    background-color: lightblue;
    height: 100px;;
}
#pagecontent{
    background-color:white;
    height: 400px; 
    padding: 5px;
    border: 1px solid green;
}
#footer {
    background-color: lightgreen;
    height: 50px;
}